@charset "UTF-8";
/* CSS Document */

@media screen and (min-width: 480px)  {
  
    /*************************************************************************************************
  2-COLUMNS *************************************************************************************************/
  #primary {
      width: 50%;
      float: left;
    }
    
   #secondary {
      width:40%;
      float: right;
    }

/*************************************************************************************************
 PAGE: PORTFOLIO *************************************************************************************************/  

  #gallery li {
    width:28.3333%;
  }
  
  #gallery li:nth-child(4n) {
    clear: left;
  }  

/*************************************************************************************************
 PAGE: ABOUT *************************************************************************************************/  
}
@media screen and(min-width: 660px) {

/*************************************************************************************************
 HEADER *************************************************************************************************/  
  
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin: 5%;
    text-align: right;
    widows: 45%;
  }
  
  #logo {
    float:left;
    margin-left: 5%;
    text-align: left;
    widows: 45%;
  }
  
  h1  {
    font-size: 2.5em;
  }
  
  h2  {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header  {
    border-bottom: 5px solid #598;
    margin-bottom: 60px;
  }
 
}

